<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FCM Push Notification</title>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>
    
  </head>
  <body style="background-color:#f2f2f2;">
    <div class="container-fluid">
      <br><br>
      <!-- <div class="container-fluid"style="background-color:#ffffff;">
            <div class="container">
                
            </div>
      </div> -->
      <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1><%= title %></h1><hr>
                
                <form action="/fcm" method="POST">
                    <div class="form-group">
                        <h6> Select Agency </h6>
                        <select name="f_agency_id">
                            <option>----- Select -------</option>
                                <% results.forEach( result => { %>
                                    <option value="<%= result.f_agency_id %>"><%= result.f_agency_cd + " (" + result.f_id +")"%></option>
                                <% }) %> 
                            </select>
                        </div>
                    <div class="form-group">
                        <h6> Message Title </h6>
                        <input type="text" class="form-control" name="message_title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                            <h6> Schedule Time </h6>
                            <input type='text' class="dt" data-language='en' name="schedule_time" autocomplete="off" />
                        </div>
                    <div class="form-group">
                        <h6> Message Body </h6>
                        <textarea class="form-control" name="message_body" id="" cols="30" rows="7" placeholder="Write your message here"></textarea>
                    </div>
                    
                    
                    <div class="form-group">
                        <h6> Page URL </h6>
                        <input type="text" class="form-control" name="page_url" placeholder="http://">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success btn-lg"> Send message </button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
      <br><br>
      <div style="margin-bottom: 4rem;"></div>>
    </div>

    <!-- Optional JavaScript -->
    
    <script type="text/javascript">
        $(function() {
            $(".dt").datepicker({
                language: 'en',
                timepicker: true,
                dateFormat : "dd M yyyy ",
                timeFormat: "hh:ii:00 GMT+0600"

            });
        });
    </script>
  </body>
</html>