@charset "UTF-8";

/* リセット
----------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{background-color:#FFF;height:100%}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,tbody,tfoot,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-style:normal;font-weight:400;font-size:100%;vertical-align:baseline;font-family:'游ゴシック Medium','Yu Gothic Medium','游ゴシック','Yu Gothic','Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif}html{overflow-y:scroll}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}input,textarea{margin:0;padding:0}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}a:focus{outline:0}a,a:hover{text-decoration:none}a img{border:none}img{vertical-align:top;font-size:0;line-height:0}hr{margin:0;width:100%}figure{-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0}
td,th{
margin:0;padding:0;font-style:normal;font-weight:400;font-size:100%;vertical-align:baseline;font-family:'游ゴシック Medium','Yu Gothic Medium','游ゴシック','Yu Gothic','Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif
}

/* 初期設定
----------------------------------------- */
div,h1, h2, h3, h4, h5, h6, p, table, tr, th, td, ul, li, dl, dt, dd, article, section, aside, nav, footer, header{
	max-height: 999999px;/*nexus 文字サイズ*/
	background: url(image) no-repeat;/*Android　横幅*/
	line-height:150%;}
body {
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 16px;}
html,body,header,#content,footer{
	width: 100%;
	min-width:480px;}
.box {
	width: 96%;
	max-width:1170px;
	overflow: hidden;
	padding:0 2%;
	margin: 0 auto;}
a{
	color:#007FFF;
	text-decoration:underline;
	font-weight:inherit;
	font-style:inherit;}
a:hover{
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)"; /*IE8 */
	text-decoration:underline;}
.logout a,
.logout a:hover,
#home_300 h3 a,
#home_300 h3 a:hover{
	text-decoration:none;}
.hover1:hover,
button:hover,
#scroll_top .div2:hover{
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)"; /*IE8 */}
.hover1 a:hover,
.hover0 a:hover{
	opacity: 1;
	-ms-filter: "alpha(opacity=100)"; /*IE8 */}

em{
	font-style:italic;}

video:hover{
	cursor:pointer;}

input,
select,
textarea{
	font-size:21px !important;}

h1{
position: relative;
z-index: 100;
}
a img { border: none; }

img { vertical-align: top; font-size: 0; line-height: 0; }
a { color: #007FFF; text-decoration: underline; font-weight: inherit; font-style: inherit; }

/* ヘッダー
----------------------------------------- */
header{
	border-bottom:9px solid #ddd;}
/* #h_top
----------------------------------------- */
#h_top ul{
	overflow:hidden;
	padding:0 0 26px;}
#h_top .li1{
	float:left;}
#h_top .li2 {
	min-height:34px 0 0;
	text-align:right;}
#h_top .li2 p{
	font-size:16px;
	line-height:20px;
	color:#333;
	padding:7px 0;}
#h_top .li3 {
	float:right;
	margin: 0 0 0 4px;}
#h_top .li3 .logout{
	float:right;}
#h_top .li3 .logout p{
	text-align:center;
	background:#FFEFE1;
	padding: 0 10px;
	border:1px solid #D1002F;}
#h_top .li3 .logout p{
	font-size:16px;
	line-height:40px;
	color:#D1002F;
	font-weight:bold;}
#h_top .li4{
	float:right;
	overflow:hidden;
	position:relative;
	z-index:20;}
#h_top .li4 .contact_h{
	float:left;}
#h_top .li4 .contact_h p{
	background-color:#CF0534;
	border: 1px solid #CF0534;}
#h_top .li4 .contact_h a{
	display:block;
	height:40px;
	padding: 0 18px;}
#h_top .li4 .contact_h img{
	margin: 13px 0 0;}
#h_top .li4 .search{
	float:left;}
#h_top .li4 .search{
	border:1px solid #aaa;}
#h_top .li4 .search p{
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#555;
	font-weight:bold;
	padding: 0 14px;}
#h_top .li4 .search input{
	width:166px;
	height:24px;
	line-height:24px;
	color:inherit;
	font-weight:bold;
	vertical-align:top;
	box-sizing: border-box;
	margin: 7px 0 0 14px;}
#h_top .li4 .search button{
	height:26px;
	line-height:26px;
	font-size:15px;
	color:#fff;
	font-weight:bold;
	vertical-align:top;
	background-color:#D61E48;
	border:0;
	margin: 7px 0 0;}
#h_top .li5 { float: right; margin: 0 10px; }
/* #h_nav
----------------------------------------- */
#h_nav{
	border-bottom:1px solid #CF0534;}
#h_nav #sp_menu{
	overflow:hidden;
	display:none;}
#h_nav #sp_menu p{
	float:right;}
#h_nav ul{
	overflow:hidden;
	margin: 0 0 1px;}
#h_nav li{
	float:left;}
#h_nav li{
	width:16%;
	text-align:center;}
#h_nav .pca{
	display:none;}
#h_nav .li1{
	margin-left: 0;}
#h_nav li div{
	border-right:1px solid #ECECEC;}
#h_nav li a{
	display:block;
	line-height:30px;}
#h_nav li img{
	margin:4px 0 0;}
#h_nav .hover .pca{
	display:inline-block;}
#h_nav .hover .pcb{
	display:none;}
@media screen and (max-width: 1050px){
	#h_top ul{
		padding: 0 0 10px}
	#h_top .li4{
		clear:both;
		float:none;
		padding: 25px 0 0;
		margin: 0 71px 0 0;}
	#h_nav section{
		position:absolute;
		width:100%;
		min-width:480px;
		z-index:10;
		margin: -61px 0 0;}
	#h_nav #sp_menu{
		overflow:hidden;
		display:block;}
	#h_nav ul{
		float:right;
		display:none;
		background:#fff;
		padding:30px 0 0;
		margin: 0 -2% 0 0;}
	#h_nav li{
		float:none;}
	#h_nav li{
		width:230px;
		line-height:20px;
		text-align:left;
		border-bottom:2px solid #ECECEC;
		margin:0;}
	#h_nav .li4,
	#h_nav .li5,
	#h_nav .li6{
		margin-top:0;}
	#h_nav li a{
		text-indent:40px;
		padding:17px 0;}}
@media screen and (max-width: 750px){
	#h_top .li4 .search p{
		padding:0;}
	#h_top .li4 .search p input{
		width:153px;
		height:40px;
		line-height:40px;
		margin: 0 5px;
		border:0;}
	#h_top .li4 .search button{
		height:40px;
		line-height:40px;
		margin:0;}
	#h_top .search p span{
		display:none;}}

/* コンテント
----------------------------------------- */
#content{
	padding:10px 0 67px;}

/* コンテント ヘッダー
----------------------------------------- */
#content_header{
	background:url("../img/bg1.png");
	background-size:cover;
	margin: 0 0 20px;}
#content_header .box div{
	background-color:#F8F8F8;}
#content_header h2{
	font-size:30px;
	line-height:120%;
	padding: 20px 45px 0;}
#content_header #bc{
	font-size:14px;
	color:#666;
	text-align:right;
	padding: 15px 10px 5px;}

/* コンテント ナビ
----------------------------------------- */
#content_nav{
	margin: 0 0 20px;}
#content_nav ul{
	overflow:hidden;
	background-color:#eee;}
#content_nav ul li{
	float:left;
	width:16%;}
#content_nav ul li div{
	text-align:center;
	background-color:#ddd;
	border: 1px solid #fff;}
#content_nav ul li a{
	display:block;
	font-size:20px;
	text-decoration:none;
	line-height:45px;
	color:#000;}
#content_nav ul .selected div{
	background-color:#D1002F;}
#content_nav ul .selected a{
	color:#fff;}
@media screen and (max-width: 1050px){
	#content_nav ul li{
		width:25%;}}
@media screen and (max-width: 750px){
	#content_nav ul li{
		width:50%;}}

/* コンテント 左
----------------------------------------- */
#content_left{
	float:left;
	width:68%;
	padding: 0 0 50px;
	margin: 0 2% 0 0;}

#content_left .h3a{
	font-size:26px;
	line-height:130%;
	color:#333;
	padding: 30px 0 0;
	border-bottom:2px solid #D1002F;
	margin: 0 0 25px;}
#content_left .h6a{
	font-size:16px;
	line-height:130%;
	color:#666;
	padding: 0 0 5px;
	border-bottom:2px solid #D1002F;
	margin: 0 0 25px;}

/* ファイル
----------------------------------------- */
.pdf{background:url("../img/i_pdf.png") no-repeat right top;}
.xls{background:url("../img/i_xls.png") no-repeat right top;}
.doc{background:url("../img/i_doc.png") no-repeat right top;}

/* 編集領域
----------------------------------------- */
#edit_area {
	color:#333;}
#edit_area h1{
	font-size:24px;
	color:#fff;
	line-height:130%;
	padding: 5px 10px;
	background-color:#D70032;
	margin:0 0 20px;}
#edit_area h2{
	font-size:24px;
	color:#fff;
	line-height:130%;
	padding: 5px 10px;
	background-color:#444;
	margin:0 0 20px;}
#edit_area h3{
	font-size:21px;
	line-height:130%;
	padding: 0 10px;
	border-bottom:2px solid #D70032;
	margin:0 0 20px;}
#edit_area h4{
	font-size:21px;
	line-height:130%;
	padding: 0 10px;
	border-bottom:2px solid #444;
	margin:0 0 20px;}
#edit_area h5{
	font-size:18px;
	line-height:130%;
	padding: 0 10px;
	border-left:4px solid #D70032;
	margin:0 0 20px;}
#edit_area h6{
	font-size:18px;
	line-height:130%;
	padding: 0 10px;
	border-left:4px solid #444;
	margin:0 0 20px;}
#edit_area ul{
	padding:0 0 0 50px;
/*	border:1px solid #aaa; */
	margin: 0 0 20px;}
#edit_area ol{
list-style-type: decimal;
padding: 0 0 0 40px;
margin: 0 0 15px;}
#edit_area table{
	width:100%;
	margin:0 0 20px;}
#edit_area td{
	vertical-align: middle;
}
#edit_area th{
	vertical-align: middle;
}
#edit_area p{
/*	padding:0 0 0 15px; */
	margin: 0 0 15px;}
#edit_area i{
	font-style: italic;}
#edit_area img{
	max-width:100%;
	height:auto;}
#edit_area strong{
	font-weight:bold;}
#edit_area .small{
	font-size:12px;
	color:#666;
	padding: 0 0 15px;}
#edit_area a{}
#edit_area .data{
	padding:10px;
	border:8px solid #e6e6e6;}
#edit_area .data .p01{
	display:inline-block;
	font-size:18px;
	line-height:24px;
	color:#fff;
	font-weight:bold;
	background-color:#999;
	padding:0 10px;
	margin: 0 0 20px;}
#edit_area .datafile{
	width:auto;
	height:auto;}
#edit_area .datafile td,
#edit_area .datafile th{
	border-bottom:10px solid #fff;}
#edit_area .datafile th{
	padding: 6px 10px 6px 0;}
#edit_area .datafile a{
	font-size:16px;
	text-decoration:underline;}
#edit_area .datafile .format{
	width:31px;
	padding: 0 0 0 34px;}
#edit_area .datafile .size{
	width:53px;
	font-size:10px;
	color:#555;
	padding: 6px 0 6px 6px;}
#article_nav{
	overflow:hidden;
	padding:10px 0 0;
	border-top:1px solid #EEEEEE;
	margin: 40px 0 0;}
#article_nav .prev{
	float:left;}
#article_nav .prev img{
	margin: 0 11px 0 0;}
#article_nav .next{
	float:right;}
#article_nav .next img{
	margin: 0 0 0  11px;}
#article_nav li a{
	display:block;
	color: #333;
	line-height:25px;
	text-decoration:none;
	padding:10px 0;}

/* #topics_list
----------------------------------------- */
#topics_list table{
	width:100%;
	border-collapse: separate;}
#topics_list th,
#topics_list td{
	font-size:16px;
	color:#666;
	border-bottom:1px solid #eee;
	border-top:10px solid #fff;}
#topics_list th{
	width:135px;
	text-indent:20px;
	padding:25px 0;}
#topics_list .event{
	background:url(../img/i_event.png) no-repeat 20px 7px;}
#topics_list .info{
	background:url(../img/i_info.png) no-repeat 20px 7px;}
#topics_list .takumi{
	background:url(../img/i_takumi.png) no-repeat 20px 7px;}
#topics_list .movie{
	background:url(../img/i_movie.png) no-repeat 20px 7px;}
#topics_list .campaign{
	background:url(../img/i_campaign.png) no-repeat 20px 7px;}
#topics_list .club{
	background:url(../img/i_club.png) no-repeat 20px 7px;}
#topics_list .format{
	background-position:right center;}
#topics_list a,#topics_list .no_link{
	display:block;
	font-size:16px;
	padding:25px 40px 25px 0;}
#topics_list .new a,#topics_list .new .no_link{
	background:url(../img/i_new01.jpg) no-repeat 0px 7px;}
#topics_list .size{
	vertical-align:middle;
	padding: 0 0 0 5px;}
#topics_list .size span{
	font-size:10px;
	color:#555;}
#topics_list .right{
	width:40px;
	background:url(../img/i_right4.png) no-repeat right center;}

/* コンテント 右
----------------------------------------- */
#content_right1,
#content_right2{
	float:right;
	width:30%;
	background-color:#F7F7F7;}
#content_right1 a,
#content_right2 a{
	display:block;}
#rogin{
	padding: 0 0 12px;
	border-bottom:1px solid #eee;}
#rogin h3{
	font-size:20px;
	line-height:40px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	background-color:#D9002C;}
#rogin .p01{
	font-size:14px;
	line-height:130%;
	color:#333;
	font-weight:bold;
	padding: 10px 10%;}
#rogin .login{
	padding: 13px 10%;
	margin: 0 15px;
	background-color:#fff;
	border: 1px solid #DDE8F2;}
#rogin .login div{
	text-align:center;}
#rogin .login button{
	vertical-align:top;
	background:none;
	border:0;
	padding:0;
	margin:10px 0 0;}
#rogin .table1{
	width:100%;}
#rogin .table1 th,
#rogin .table1 td{
	padding:0 0 20px;}
#rogin .table1 th{
	width:100px;
	font-size:16px;
	color:#333;
	font-weight:bold;}
#rogin .table1 input{
	width:100%;
	line-height:18px;
	vertical-align:top;}
#rogin .table2{
	margin:0 auto;}
#rogin .table2 th{
	padding: 0 7px 0 0;}
#rogin .table2 td{
	line-height:120%;}
#rogin .table2 label{
	font-size:14px;
	color:#545454;
	font-weight:bold;
	vertical-align:top;}
#banner{
	padding: 7px 15px;
	border-bottom:1px solid #eee;}
#banner li{
	padding: 5px 0;
	text-align:center;}
#banner li img{
	width:100%;
	max-width:350px;}
#dkk_directory{
	padding: 12px 15px;}
#dkk_directory h3{
	background-color:#E8829D;
	border:1px solid #E8829D;}
#dkk_directory h3 p{
	font-size:16px;
	line-height:120%;
	color:#fff;
	font-weight:bold;
	background:url("../img/i_dkk.png") no-repeat 7px 7px;
	padding: 7px 0 7px 33px;}
#dkk_directory .block{
	background-color:#fff;
	border:1px solid #ddd;
	border-top:0;}
#dkk_directory section{
padding:8px;
}
#dkk_directory h4{
	font-size:14px;
	color:#333333;
	font-weight:bold;
	padding: 10px 0;
	border-bottom:1px solid #eee;}
#dkk_directory h4 a{
	color:#333333;}
#dkk_directory h4 th,#dkk_directory h4 td{
	vertical-align: top;}
#dkk_directory h4 th{
	width: 40px;}
#dkk_directory h4 td img{
	height: 15px;
	margin: 3px 3px 0 0;}


#dkk_directory h4.dai_is th{
	background:url("../img/i_folder_dai_close.jpg") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.dai_is.open th{
	background:url("../img/i_folder_dai_open.jpg") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.dai_is th:hover{
cursor: pointer;}
#dkk_directory h4.dai_is td{
	font-weight: bold;}
#dkk_directory h4.dai_isnot th{
	background:url("../img/i_folder_dai.jpg") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.dai_isnot td{
	font-weight: bold;}

#dkk_directory h4.chu_is{
	margin: 0 0 0 5px;}
#dkk_directory h4.chu_is th{
	background:url("../img/i_folder_chu_close.jpg") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.chu_is.open th{
	background:url("../img/i_folder_chu_open.jpg") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.chu_is th:hover{
cursor: pointer;}
#dkk_directory h4.chu_isnot{
	margin: 0 0 0 5px;}
#dkk_directory h4.chu_isnot th{
	background:url("../img/i_folder_chu.png") no-repeat left top;
	background-size:auto 21px;}
#dkk_directory h4.chu_isnot td{
}

#dkk_directory h4.isnot{
	margin: 0 0 0 10px;}
#dkk_directory h4.isnot th{
	background:url("../img/i_folder_none.jpg") no-repeat left top;
	background-size:auto 21px;}

#dkk_directory section div{
display: none;}

#topics{
	padding: 20px 15px;
	border: 1px solid #D0002C;
	margin: 0 0 20px;}
#topics h4{
	font-size:16px;
	color:#333;
	background:url("../img/i_topics.png") no-repeat left center;
	padding: 0 0 0 30px;}
#topics li{
	color:#777777;
	background:url("../img/i_right6.png") no-repeat right center;
	border: #ddd solid 1px;
	border-top:none;}
#topics li:first-child{
	border-top: #ddd solid 1px;}
#topics li div{
	background-color:#fff;}
#topics li a{
	display:block;
	font-size:16px;
	color:inherit;
	padding: 20px 23px;}

@media screen and (min-width: 750px)and (max-width: 1050px){
	#rogin form{
		padding: 13px 5px;}
	#rogin .table1 th{
		width:85px;}}
@media screen and (max-width: 750px){
	#content_left,
	#content_right1,
	#content_right2{
		float:none;
		width:100%;}}

/* フッター
----------------------------------------- */
footer a:hover{
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)"; /*IE8 */ }
footer{
	background:url("../img/footer_bg.png") repeat-x center top;}
#scroll_top .div1{
	float: right;
	width: 67px;
	height: 67px;
	margin: -67px 0px 0px;}
#scroll_top .div2 {
	position: fixed;
	z-index: 30;
	bottom: 167px;
	right:10px;
	width: inherit;
	height: inherit;
	text-align: center;
	background-color: #aaa;}
#scroll_top .div2:hover{
	cursor:pointer;}
#scroll_top img{
	margin: 24px 0 0;}
footer nav{
	height:146px;}
footer nav .div1{
	float:right;
	width:32%;
	text-align:center;
	padding:10px 0 0;}
footer nav .div1 img{
	width:100%;
	max-width:298px;}
footer nav ul{
	float:left;
	width:65%;
	overflow:hidden;
	padding:10px 0;}
footer nav li{
	float:left;}
footer nav li a{
	display:block;
	font-size:14px;
	color:#777777;
	font-weight:bold;
	padding:5px 15px;}
#copyright{
	font-size:14px;
	color:#777777;
	font-weight:bold;
	text-align:center;}
#copyright span{
	display:inline-block;
	font-weight:bold;}
@media screen and (max-width: 750px){
	footer nav .div1{
		float:none;
		width:100%;}
	footer nav ul{
		float:none;
		width:100%;}
	footer nav ul li{
		width:48%;
		text-align:center;
		margin:15px 1% 0;}
	footer nav .pc{
		display:none;}}
