@charset "UTF-8";

/* ヘッダー
----------------------------------------- */
#h_nav .li3 .pca{
	display:inline;}
#h_nav .li3 .pcb{
	display:none;}

/* #dkk_list
----------------------------------------- */

#dkk_100 figure img{
	width:100%;
	height:2px;
	line-height:100%;
	padding: 0 0 40px;}
#dkk_100 ul{
	overflow:hidden;}
#dkk_100 li{
	overflow:hidden;
	font-size:16px;
	color:#666;
	padding:20px 0;
	border-bottom:5px solid #ECECEC;}
#dkk_100 h4{
	float:left;
	width:33%;}
#dkk_100 div{
	float:left;
	width:67%;}
#dkk_100 dl{
	overflow:hidden;}
#dkk_100 dt{
	float:left;
	width:50%;}
#dkk_100 dd{
	float:left;
	width:50%;}
#dkk_100 a{
	color:#666}
#dkk_100 h4 p,
#dkk_100 dt p,
#dkk_100 dd p{
	min-height:48px;
	padding: 5px 33px 5px 0;
	margin:0 5px;
	background:url("../img/i_right4.png") no-repeat right 15px;
	border-bottom:1px solid #eee;}